body{
font-family: Arial, Helvetica, sans-serif;
background:#feebe2;
margin:0;
}

.container{
max-width:850px;
margin:auto;
padding:40px;
}

h1{
color:#7a0177;
margin-bottom:5px;
}

.subtitle{
color:#ae017e;
margin-bottom:20px;
}

.icons img{
width:24px;
margin-right:10px;
}

a{
color:#dd3497;
text-decoration:none;
}

a:hover{
color:#7a0177;
}

h2{
color:#ae017e;
margin-top:40px;
}

.news-item{
margin-bottom:8px;
}

.paper{
margin-bottom:15px;
}
